<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.staticfile.org/echarts/4.3.0/echarts.min.js"></script>

</head>
<body>
<!-- 为ECharts准备一个具备大小（宽高）的Dom -->

<!--  直方图    -->
<div id="histogram" style="width: 600px;height:400px;"></div>

<!--  饼图    -->
<div id="pie_chart" style="width: 600px;height:400px;"></div>

<!--  折线图    -->
<div id="line_chart" style="width: 600px;height:400px;"></div>



<script type="text/javascript" src="../static/js/ecahrtjs.js"></script>
</body>
</html>