
<!DOCTYPE HTML>
<html lang="zxx">

<head>
    <title>Login & Register Forms</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <meta name="keywords" content="Validate Login & Register Forms Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- Meta tag Keywords -->

    <!-- css files -->
    <link rel="stylesheet" href="../static/css/style.css" type="text/css" media="all" />
    <!-- Style-CSS -->
    <link href="../static/css/font-awesome.min.css" rel="stylesheet">
    <!-- Font-Awesome-Icons-CSS -->
    <!-- //css files -->
    <!-- web-fonts -->
    <link href="//fonts.googleapis.com/css?family=Magra:400,700&amp;subset=latin-ext" rel="stylesheet">
    <!-- //web-fonts -->
</head>

<body>
<!-- title -->
<h1>
    Validate Login & Register Forms
</h1>
<!-- //title -->

<!-- content -->
<div class="container-agille">
    <div class="formBox level-login">
        <div class="box boxShaddow"></div>
        <div class="box loginBox">
            <h3>Login Here</h3>
            <form class="form" action="#" method="post">
                <div class="f_row-2">
                    <input type="text" class="input-field" placeholder="Username" id="username1" required>
                </div>
                <div class="f_row-2 last">
                    <input type="password" id="password1" placeholder="Password" class="input-field" required>
                </div>
                <input class="submit-w3" type="submit"  onclick="login()" value="Login">

            </form>
        </div>

        <div class="box registerBox wthree">
            <span class="reg_bg"></span>
            <h3>Register</h3>
            <form class="form" action="#" method="post">
                <div class="f_row-2">
                    <input type="text" class="input-field" placeholder="Username" id="username2"  required>
                </div>
                <div class="f_row-2 last">
                    <input type="password" name="password" placeholder="Password" id="password21" class="input-field" required>
                </div>
                <div class="f_row-2 last">
                    <input type="password" name="password" placeholder="Confirm Password" id="password22" class="input-field" required>
                </div>
                <input class="submit-w3" type="submit" onclick="register()" value="Register">
            </form>
        </div>
        <a href="#" class="regTag icon-add">
            <i class="fa fa-repeat" aria-hidden="true"></i>

        </a>
    </div>
</div>

<!-- Jquery -->
<script src="../static/js/jquery-2.2.3.min.js"></script>
<!-- //Jquery -->
<!-- input fields js -->
<script src="../static/js/input-field.js"></script>
<!-- //input fields js -->

<!-- password-script -->
<script>


    function register() {

        var pass2 = document.getElementById("password22").value;
        var pass1 = document.getElementById("password21").value;
        if (pass1 != pass2)
            document.getElementById("password22").setCustomValidity("Passwords Don't Match");
        else
            var username = document.getElementById("username2").value;
            var jsonObj = {"username":username,"password":pass2};
        /*
            Jquery默认Content-Type为application/x-www-form-urlencoded类型
         */
            $.ajax({
                type: 'POST',
                url: "/lr/register",
                dataType: "json",
                data: JSON.stringify(jsonObj),
                contentType : "application/json",
                success: function(data) {

                    console.log(data)
                },
                error: function() {
                    console.log("fucking error")
                }
            });


    }
    function login() {
        var username = document.getElementById("username1").value;
        var password = document.getElementById("password1").value;



        var jsonObj = {"username":username,"password":password};

        $.ajax({
            type: 'POST',
            url: "/lr/login",
            dataType: "json",
            data: JSON.stringify(jsonObj),
            contentType : "application/json",
            success: function(data) {

                console.log(data)
            },
            error: function() {
                console.log("fucking error")
            }
        });


    }
</script>



</body>

</html>