
<!DOCTYPE HTML>
<html lang="zxx">

<head>
    <title>Login & Register Forms</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <meta name="keywords" content="Login & Register" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <link rel="stylesheet" href="../static/css/style.css" type="text/css" media="all" />
    <link href="../static/css/font-awesome.min.css" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Magra:400,700&amp;subset=latin-ext" rel="stylesheet">
</head>

<body>
<!-- title -->
<h1 id="title">
   登录&注册
</h1>
<!-- //title -->

<!-- content -->
<div class="container-agille">
    <div class="formBox level-login">
        <div class="box boxShaddow"></div>
        <div class="box loginBox">
            <h3>登录</h3>
            <form class="form" action="#" method="post">
                <div class="f_row-2">
                    <input type="text" class="input-field" placeholder="Username" id="username1" required>
                </div>
                <div class="f_row-2 last">
                    <input type="password" class="input-field" placeholder="Password" id="password1" required>
                </div>
                <input class="submit-w3" type="submit"  onclick="login()" value="Login">
            </form>
        </div>

        <div class="box registerBox wthree">
            <span class="reg_bg"></span>
            <h3>注册</h3>
            <form class="form" action="#" method="post">
                <div class="f_row-2">
                    <input type="text" class="input-field" placeholder="Username" id="username2"  required>
                </div>
                <div class="f_row-2 last">
                    <input type="password" name="password" placeholder="Password" id="password21" class="input-field" required>
                </div>
                <div class="f_row-2 last">
                    <input type="password" name="password" placeholder="Confirm Password" id="password22" class="input-field" required>
                </div>
                <input class="submit-w3" type="submit" onclick="register()" value="Register">
            </form>
        </div>
        <a href="#" class="regTag icon-add">
            <i class="fa fa-repeat" aria-hidden="true"></i>

        </a>
    </div>
</div>
<script src="../static/js/jquery-2.2.3.min.js"></script>
<script src="../static/js/input-field.js"></script>
<script>
    function register() {
        var pass2 = document.getElementById("password22").value;
        var pass1 = document.getElementById("password21").value;
        if (pass1 != pass2) {
            document.getElementById("password22").setCustomValidity("两次密码不匹配");
        }
        else {
            var username = document.getElementById("username2").value;
            var jsonObj = {"username": username, "password": pass2};
            $.ajax({
                type: 'POST',
                url: "/lr/register",
                dataType: "json",
                data: JSON.stringify(jsonObj),
                contentType: "application/json",
                success: function (data) {
                    console.log(data)
                },
                error: function () {
                    console.log("fucking error")
                }
            });
            if (data == 1) {//注册成功
                document.getElementsById("title").innerHTML = "注册成功，请登录"
            } else if (data == 2) {//用户名已存在
                document.getElementById("username2").setCustomValidity("用户名已存在");
            }
        }

    }
    function login() {
        var username = document.getElementById("username1").value;
        var password = document.getElementById("password1").value;
        var jsonObj = {"username":username,"password":password};
        $.ajax({
            type: 'POST',
            url: "/lr/login",
            dataType: "json",
            data: JSON.stringify(jsonObj),
            contentType : "application/json",
            success: function(data) {
                console.log(data)
            },
            error: function() {
                console.log("fucking error")
            }
        });
        if(data==1){//登录成功，跳转页面

        }else if(data==2){//用户名或密码错误
            document.getElementById("username1").setCustomValidity("用户名或密码错误");
        }
    }
</script>



</body>

</html>