<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Pagination</title>
	<link rel="stylesheet" href="../static/dist/pagination.css">
	<link rel="stylesheet" href="../static/css/listUI.css">
	<style>
		* {
			margin: 0;
			padding: 0;
		}
		.data-list {
			list-style: none;
		}
		.list-item {
			padding: 10px;
		}

	</style>
	<script src="../static/js/jquery.min.js"></script>

</head>
<body>
	<div style="width: 700px;margin: 100px auto;">
		<ul class="data-list">
		</ul>

		<div id="pagination" class="pagination"></div>
	</div>
	<script src="../static/js/data.js"></script>
	<script src="../static/dist/pagination.js"></script>
	<script src="../static/js/index.js"></script>
</body>
</html>
