<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.senior_web.provider.mapper.UserMapper" >
    <resultMap id="BaseResultMap" type="com.senior_web.common.domin.User" >
        <result column="userId" property="userId" jdbcType="INTEGER" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="age" property="age" jdbcType="INTEGER" />
        <result column="sex" property="sex" jdbcType="VARCHAR" />
    </resultMap>
    <sql id="Base_Column_List" >
        userId, name, age, sex
    </sql>
    <select id="getOne" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select
        <include refid="Base_Column_List" />
        from u_user t
        where t.userId = #{userId,jdbcType=INTEGER}
    </select>

    <select id="getUserById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select
        <include refid="Base_Column_List" />
        from u_user t
        where t.userId = #{userId,jdbcType=INTEGER}
    </select>

    <select id="findList" resultMap="BaseResultMap" parameterType="com.senior_web.common.domin.User" >
        select
        <include refid="Base_Column_List" />
        from u_user t
        <where>
            <if test="userId !=null ">
                and t.userId = #{userId,jdbcType=INTEGER}
            </if>
            <if test="name !=null ">
                and t.name = #{name,jdbcType=VARCHAR}
            </if>
            <if test="age !=null ">
                and t.age = #{age,jdbcType=INTEGER}
            </if>
            <if test="sex !=null ">
                and t.sex = #{sex,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

    <insert id="saveUser" parameterType="com.senior_web.common.domin.User" >
        insert into u_user
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="userId != null" >
                userId,
            </if>
            <if test="name != null" >
                name,
            </if>
            <if test="age != null" >
                age,
            </if>
            <if test="sex != null" >
                sex,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="userId != null" >
                #{userId,jdbcType=INTEGER},
            </if>
            <if test="name != null" >
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="age != null" >
                #{age,jdbcType=INTEGER},
            </if>
            <if test="sex != null" >
                #{sex,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateUser" parameterType="com.senior_web.common.domin.User" >
        UPDATE u_user
        SET
        <if test="name != null" >
            name = #{name},
        </if>
        <if test="age != null" >
            age = #{age},
        </if>
        <if test="sex != null" >
            sex = #{sex}
        </if>
        WHERE
        userId = #{userId}
    </update>


    <delete id="deleteUser" parameterType="java.lang.Integer">
        delete from
        u_user
        where
        userId = #{userId}
    </delete>

    <insert id="insert" parameterType="com.senior_web.common.domin.User" >
        insert into u_user (userId, name, age, sex)
        values (#{userId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{age,jdbcType=INTEGER},
        #{sex,jdbcType=VARCHAR})
    </insert>


</mapper>